@import 'mixins/mixins';

@include reset(); // Сброс стилей

@import 'mixingrid/mixingrid';

// Переменные для кастомизации Mixingrid
$columns: 12; // Колличество колонок
$max-width: 1450px; // Максимальная ширина контейнера
$gutter: 15px; // Расстояние между колонками
$offset: 20px; // Поля контейнера
$offset-sm: 15px; // Поля контейнера на мобилке
// Брэйкпоинты
$break_xl: 15000px;
$break_lg: 1200px;
$break_md: 1050px;
$break_sm: 768px;
$break_xs: 500px;

// Шрифты
@include font-face('Kelpo', 'fonts/kelpo_DEMO/Kelpo', normal, normal, $exts: woff2 woff ttf);
@include font-face('Roboto', 'fonts/roboto/roboto-v30-latin-regular', normal, normal, $exts: woff2 woff ttf);
@include font-face('Roboto', 'fonts/roboto/roboto-v30-latin-500', 500, normal, $exts: woff2 woff ttf);

// Цвета
$primary_color: #ec0187;
$secondary_color: #99dde3;
$text_color: #ae909d;

// Подключение файлов
@import 'blocks/settings';

a:not([class]) {
    color: inherit;
    text-decoration: underline;

    &:hover {
        text-decoration-color: transparent;
    }
}

// @import 'hamburgers/hamburgers';
// @import 'blocks/template';
// @import 'blocks/popup';
// @import 'blocks/tabs';
// @import 'blocks/accordion';
// @import 'blocks/js-scrollup';
// @import 'blocks/counter';
@import 'blocks/btn';
@import 'blocks/title';
@import 'blocks/subtitle';

@import 'blocks/header';
@import 'blocks/welcome-slider';
@import 'blocks/benefit';
@import 'blocks/products-slider';
@import 'blocks/product-card';
@import 'blocks/besides';
@import 'blocks/home-blog';
@import 'blocks/more-offer';
@import 'blocks/instagram';
@import 'blocks/contact';
@import 'blocks/review';
@import 'blocks/welcome';
@import 'blocks/welcome-slider';
@import 'blocks/story';
@import 'blocks/description';
@import 'blocks/presentation';
@import 'blocks/productReview';

@import 'blocks/catalog';
@import 'blocks/footer';
// @import 'blocks/menu';

.breadcrumb {
    margin-bottom: 1.25em;
    color: #f29acc;

    a {
        color: inherit;
    }
    span {
        color: #fff1f7;
    }
    a,
    span {
        font-family: Roboto;
        font-size: 1.125em;
        font-style: normal;
        font-weight: 400;
        line-height: 1.6;
    }
}

.section {
    padding: 3em 0;
    &__title {
        font-family: 'Kelpo';
        font-size: 3.25em;
        line-height: 0.86;
        font-weight: 400;
        color: #ec0187;
        text-shadow: -0.1em 0.1em #fff;
        margin-bottom: 0.2em;

        @media (min-width: 768px) {
            font-size: 5.25em;
        }

        .dark & {
            color: #fff;
            text-shadow: -0.1em 0.1em #ec0187;
        }
    }
    &__sub {
        font-family: 'Roboto';
        font-size: 1em;
        font-weight: 400;
        line-height: 1.5;

        a {
            color: inherit;
        }

        @media (min-width: 768px) {
            font-size: 1.125em;
        }
    }
}

.page-template-story-template main {
    padding-top: 7em;

    @media (min-width: 768px) {
        padding-top: 9.3em;
    }
}
