{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": true,
      "target": "https://turndough.deessemedia.com",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": true
    },
    "sync": {
      "enable": false,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts",
          "/wp-content/themes/twentynineteen/*",
          "/wp-content/themes/twentyseventeen/*",
          "/wp-content/themes/twentytwenty/*",
          "/wp-content/languages/*",
          "/wp-admin/*",
          "/wp-includes/*",
          "/wp-config.php"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "/turndough.deessemedia.com/wp-content/themes/turn_dough",
      "timeout": 20000,
      "autoUpload": true,
      "reuseConnection": true,
      "connectionType": "ftp",
      "history": [
        {
          "file": "style.css",
          "mtimeMs": 1691167198034.708,
          "date": "2023-08-04T16:40:00.895Z"
        },
        {
          "file": "style.css.map",
          "mtimeMs": 1691167198034.708,
          "date": "2023-08-04T17:39:59.647Z"
        },
        {
          "file": "css/style.css",
          "mtimeMs": 1691039435190.7297,
          "date": "2023-08-03T05:19:51.734Z"
        },
        {
          "file": "css/plugins/swiper-bundle.min.css",
          "mtimeMs": 1691039435190.7297,
          "date": "2023-08-03T05:19:54.371Z"
        },
        {
          "file": "fonts/kelpo_DEMO/FontsFree-Net-KelpoDemo-MVv9J.ttf",
          "mtimeMs": 1691039435190.7297,
          "date": "2023-08-03T05:19:57.002Z"
        },
        {
          "file": "fonts/kelpo_DEMO/FontsFree-Net-KelpoDemo-MVv9J.woff",
          "mtimeMs": 1691039435190.7297,
          "date": "2023-08-03T05:19:59.442Z"
        },
        {
          "file": "fonts/kelpo_DEMO/FontsFree-Net-KelpoDemo-MVv9J.woff2",
          "mtimeMs": 1691039435190.7297,
          "date": "2023-08-03T05:20:01.891Z"
        },
        {
          "file": "fonts/roboto/roboto-v30-latin-500.ttf",
          "mtimeMs": 1691039435190.7297,
          "date": "2023-08-03T05:20:04.537Z"
        },
        {
          "file": "fonts/roboto/roboto-v30-latin-500.woff",
          "mtimeMs": 1691039435190.7297,
          "date": "2023-08-03T05:20:07.201Z"
        },
        {
          "file": "fonts/roboto/roboto-v30-latin-500.woff2",
          "mtimeMs": 1691039435190.7297,
          "date": "2023-08-03T05:20:09.833Z"
        },
        {
          "file": "fonts/roboto/roboto-v30-latin-regular.ttf",
          "mtimeMs": 1691039435190.7297,
          "date": "2023-08-03T05:20:12.467Z"
        },
        {
          "file": "fonts/roboto/roboto-v30-latin-regular.woff",
          "mtimeMs": 1691039435190.7297,
          "date": "2023-08-03T05:20:15.120Z"
        },
        {
          "file": "fonts/roboto/roboto-v30-latin-regular.woff2",
          "mtimeMs": 1691039435190.7297,
          "date": "2023-08-03T05:20:17.754Z"
        },
        {
          "file": "img/arrow-slider.svg",
          "mtimeMs": 1691039435190.7297,
          "date": "2023-08-03T05:20:19.981Z"
        },
        {
          "file": "img/arrow.svg",
          "mtimeMs": 1691039435190.7297,
          "date": "2023-08-03T05:20:22.405Z"
        },
        {
          "file": "img/benefit.jpg",
          "mtimeMs": 1691085365285.4934,
          "date": "2023-08-04T15:09:54.715Z"
        },
        {
          "file": "img/instagram.jpg",
          "mtimeMs": 1691085365289.4934,
          "date": "2023-08-04T15:09:59.667Z"
        },
        {
          "file": "img/logo.svg",
          "mtimeMs": 1691039435194.7297,
          "date": "2023-08-03T05:20:30.097Z"
        },
        {
          "file": "img/more-offer.png",
          "mtimeMs": 1691039435194.7297,
          "date": "2023-08-04T15:09:49.768Z"
        },
        {
          "file": "img/sprite.svg",
          "mtimeMs": 1691159768303.9275,
          "date": "2023-08-04T15:09:52.017Z"
        },
        {
          "file": "img/welcome-slider-bg.jpg",
          "mtimeMs": 1691085365289.4934,
          "date": "2023-08-04T15:09:57.197Z"
        },
        {
          "file": "img/benefit/img-1.png",
          "mtimeMs": 1691039435190.7297,
          "date": "2023-08-03T05:20:40.289Z"
        },
        {
          "file": "img/benefit/img-2.png",
          "mtimeMs": 1691039435190.7297,
          "date": "2023-08-03T05:20:42.714Z"
        },
        {
          "file": "img/besides/img-1.png",
          "mtimeMs": 1691039435190.7297,
          "date": "2023-08-03T05:20:45.153Z"
        },
        {
          "file": "img/besides/img-2.png",
          "mtimeMs": 1691039435194.7297,
          "date": "2023-08-03T05:20:47.598Z"
        },
        {
          "file": "img/besides/img-3.png",
          "mtimeMs": 1691039435194.7297,
          "date": "2023-08-03T05:20:50.049Z"
        },
        {
          "file": "img/besides/img-4.png",
          "mtimeMs": 1691039435194.7297,
          "date": "2023-08-03T05:20:52.503Z"
        },
        {
          "file": "img/besides/img-5.png",
          "mtimeMs": 1691039435194.7297,
          "date": "2023-08-03T05:20:54.900Z"
        },
        {
          "file": "img/flying/img-1.png",
          "mtimeMs": 1691085365289.4934,
          "date": "2023-08-04T15:10:24.736Z"
        },
        {
          "file": "img/flying/img-1.svg",
          "mtimeMs": 1691039435194.7297,
          "date": "2023-08-03T05:20:59.734Z"
        },
        {
          "file": "img/flying/img-10.png",
          "mtimeMs": 1691085365289.4934,
          "date": "2023-08-04T15:10:09.604Z"
        },
        {
          "file": "img/flying/img-10.svg",
          "mtimeMs": 1691039435194.7297,
          "date": "2023-08-03T05:21:04.606Z"
        },
        {
          "file": "img/flying/img-2.png",
          "mtimeMs": 1691085365289.4934,
          "date": "2023-08-04T15:10:02.142Z"
        },
        {
          "file": "img/flying/img-2.svg",
          "mtimeMs": 1691039435194.7297,
          "date": "2023-08-03T05:21:09.472Z"
        },
        {
          "file": "img/flying/img-3.png",
          "mtimeMs": 1691085365289.4934,
          "date": "2023-08-04T15:10:12.075Z"
        },
        {
          "file": "img/flying/img-3.svg",
          "mtimeMs": 1691039435194.7297,
          "date": "2023-08-04T15:10:14.581Z"
        },
        {
          "file": "img/flying/img-4.png",
          "mtimeMs": 1691085365289.4934,
          "date": "2023-08-04T15:10:27.223Z"
        },
        {
          "file": "img/flying/img-4.svg",
          "mtimeMs": 1691039435194.7297,
          "date": "2023-08-03T05:21:19.225Z"
        },
        {
          "file": "img/flying/img-5.png",
          "mtimeMs": 1691085365289.4934,
          "date": "2023-08-04T15:10:04.631Z"
        },
        {
          "file": "img/flying/img-5.svg",
          "mtimeMs": 1691039435194.7297,
          "date": "2023-08-03T05:21:24.098Z"
        },
        {
          "file": "img/flying/img-6.png",
          "mtimeMs": 1691085365289.4934,
          "date": "2023-08-04T15:10:22.259Z"
        },
        {
          "file": "img/flying/img-6.svg",
          "mtimeMs": 1691039435194.7297,
          "date": "2023-08-03T05:21:28.961Z"
        },
        {
          "file": "img/flying/img-7.png",
          "mtimeMs": 1691085365289.4934,
          "date": "2023-08-04T15:10:35.318Z"
        },
        {
          "file": "img/flying/img-7.svg",
          "mtimeMs": 1691039435194.7297,
          "date": "2023-08-03T05:21:34.019Z"
        },
        {
          "file": "img/flying/img-8.png",
          "mtimeMs": 1691085365289.4934,
          "date": "2023-08-04T15:10:37.818Z"
        },
        {
          "file": "img/flying/img-8.svg",
          "mtimeMs": 1691039435194.7297,
          "date": "2023-08-03T05:21:38.930Z"
        },
        {
          "file": "img/flying/img-9.png",
          "mtimeMs": 1691085365289.4934,
          "date": "2023-08-04T15:10:17.289Z"
        },
        {
          "file": "img/flying/img-9.svg",
          "mtimeMs": 1691039435194.7297,
          "date": "2023-08-03T05:21:44.050Z"
        },
        {
          "file": "img/products/img-1.jpg",
          "mtimeMs": 1691085365289.4934,
          "date": "2023-08-04T15:10:32.850Z"
        },
        {
          "file": "img/svg_icons/facebook.svg",
          "mtimeMs": 1691039435194.7297,
          "date": "2023-08-03T05:21:49.170Z"
        },
        {
          "file": "img/svg_icons/instagram.svg",
          "mtimeMs": 1691039435194.7297,
          "date": "2023-08-03T05:21:51.592Z"
        },
        {
          "file": "img/svg_icons/point.svg",
          "mtimeMs": 1691039435194.7297,
          "date": "2023-08-03T05:21:54.017Z"
        },
        {
          "file": "img/svg_icons/twitter.svg",
          "mtimeMs": 1691039435194.7297,
          "date": "2023-08-03T05:21:56.461Z"
        },
        {
          "file": "img/welcome-slider/img-1.png",
          "mtimeMs": 1691039435194.7297,
          "date": "2023-08-03T05:21:59.580Z"
        },
        {
          "file": "img/welcome-slider/img-2.png",
          "mtimeMs": 1691039435194.7297,
          "date": "2023-08-03T05:22:02.661Z"
        },
        {
          "file": "img/welcome-slider/img-3.png",
          "mtimeMs": 1691039435194.7297,
          "date": "2023-08-03T05:22:05.767Z"
        },
        {
          "file": "img/welcome-slider/img-4.png",
          "mtimeMs": 1691039435194.7297,
          "date": "2023-08-03T05:22:08.893Z"
        },
        {
          "file": "img/welcome-slider/img-5.png",
          "mtimeMs": 1691039435194.7297,
          "date": "2023-08-03T05:22:11.574Z"
        },
        {
          "file": "img/welcome-slider/img-6.png",
          "mtimeMs": 1691085365289.4934,
          "date": "2023-08-04T15:10:30.149Z"
        },
        {
          "file": "js/jquery.min.js",
          "mtimeMs": 1691039435194.7297,
          "date": "2023-08-03T05:22:17.152Z"
        },
        {
          "file": "js/scripts.js",
          "mtimeMs": 1691167870818.2258,
          "date": "2023-08-04T16:51:13.537Z"
        },
        {
          "file": "js/plugins/swiper-bundle.min.js",
          "mtimeMs": 1691039435198.73,
          "date": "2023-08-03T05:22:22.712Z"
        },
        {
          "file": "index.php",
          "mtimeMs": 1691041114644.2725,
          "date": "2023-08-03T05:38:37.150Z"
        },
        {
          "file": "functions.php",
          "mtimeMs": 1691159913934.5234,
          "date": "2023-08-04T14:38:36.461Z"
        },
        {
          "file": "header.php",
          "mtimeMs": 1691152898122.236,
          "date": "2023-08-04T12:41:40.637Z"
        },
        {
          "file": "footer.php",
          "mtimeMs": 1691139391997.2632,
          "date": "2023-08-04T08:56:34.583Z"
        },
        {
          "file": "page.php",
          "mtimeMs": 1691041271813.8384,
          "date": "2023-08-03T05:41:14.315Z"
        },
        {
          "file": "template-parts/content-home.php",
          "mtimeMs": 1691063047493.8765,
          "date": "2023-08-03T11:44:10.176Z"
        },
        {
          "file": "scf/home.php",
          "mtimeMs": 1691138607077.7856,
          "date": "2023-08-04T08:43:29.838Z"
        },
        {
          "file": "scf/contacts.php",
          "mtimeMs": 1691054523326.0598,
          "date": "2023-08-03T09:22:06.008Z"
        },
        {
          "file": "scf/products.php",
          "mtimeMs": 1691055970993.8044,
          "date": "2023-08-03T09:46:13.681Z"
        },
        {
          "file": "scf/reviews.php",
          "mtimeMs": 1691056579890.4404,
          "date": "2023-08-03T09:56:22.567Z"
        },
        {
          "file": "scf/product-category.php",
          "mtimeMs": 1691058215828.1829,
          "date": "2023-08-03T10:23:38.561Z"
        },
        {
          "file": "css/admin.css",
          "mtimeMs": 1691058306298.5288,
          "date": "2023-08-03T10:25:08.984Z"
        },
        {
          "file": "archive-products.php",
          "mtimeMs": 1691139879008.4258,
          "date": "2023-08-04T09:04:41.536Z"
        },
        {
          "file": "css/admin.css.map",
          "mtimeMs": 1691058306298.5288,
          "date": "2023-08-04T08:32:29.420Z"
        },
        {
          "file": "css/bootstrap/bootstrap.css",
          "mtimeMs": 1691160204159.632,
          "date": "2023-08-04T14:43:32.727Z"
        },
        {
          "file": "css/bootstrap/bootstrap.css.map",
          "mtimeMs": 1691160204159.632,
          "date": "2023-08-04T15:09:44.908Z"
        },
        {
          "file": "img/flying/img-11.png",
          "mtimeMs": 1691085365289.4934,
          "date": "2023-08-04T08:32:37.588Z"
        },
        {
          "file": "img/flying/img-12.png",
          "mtimeMs": 1691085365289.4934,
          "date": "2023-08-04T08:32:40.040Z"
        },
        {
          "file": "img/flying/img-13.png",
          "mtimeMs": 1691085365289.4934,
          "date": "2023-08-04T08:32:42.496Z"
        },
        {
          "file": "img/flying/img-14.png",
          "mtimeMs": 1691085365289.4934,
          "date": "2023-08-04T08:32:44.917Z"
        },
        {
          "file": "img/flying/img-15.png",
          "mtimeMs": 1691085365289.4934,
          "date": "2023-08-04T08:32:47.367Z"
        },
        {
          "file": "img/flying/img-16.png",
          "mtimeMs": 1691085365289.4934,
          "date": "2023-08-04T15:10:07.116Z"
        },
        {
          "file": "img/flying/img-17.png",
          "mtimeMs": 1691085365289.4934,
          "date": "2023-08-04T08:32:52.298Z"
        },
        {
          "file": "img/flying/img-18.png",
          "mtimeMs": 1691085365289.4934,
          "date": "2023-08-04T15:10:19.790Z"
        },
        {
          "file": "scf/story.php",
          "mtimeMs": 1691163498476.0388,
          "date": "2023-08-04T15:38:21.222Z"
        },
        {
          "file": "page-our-story.php",
          "mtimeMs": 1691168392447.1191,
          "date": "2023-08-04T16:59:55.620Z"
        },
        {
          "file": "svg.svg",
          "mtimeMs": 1691154548559.0747,
          "date": "2023-08-04T13:09:12.433Z"
        },
        {
          "file": "archive-reviews.php",
          "mtimeMs": 1691161853540.2302,
          "date": "2023-08-04T15:10:56.052Z"
        },
        {
          "file": "css/bootstrap/bootstrap-grid.css",
          "mtimeMs": 1691160204055.6301,
          "date": "2023-08-04T15:09:28.705Z"
        },
        {
          "file": "css/bootstrap/bootstrap-grid.css.map",
          "mtimeMs": 1691160204159.632,
          "date": "2023-08-04T15:09:31.410Z"
        },
        {
          "file": "css/bootstrap/bootstrap-reboot.css",
          "mtimeMs": 1691160203995.6292,
          "date": "2023-08-04T15:09:33.880Z"
        },
        {
          "file": "css/bootstrap/bootstrap-reboot.css.map",
          "mtimeMs": 1691160204059.6304,
          "date": "2023-08-04T15:09:36.369Z"
        },
        {
          "file": "css/bootstrap/bootstrap-utilities.css",
          "mtimeMs": 1691160204159.632,
          "date": "2023-08-04T15:09:39.284Z"
        },
        {
          "file": "css/bootstrap/bootstrap-utilities.css.map",
          "mtimeMs": 1691160204159.632,
          "date": "2023-08-04T15:09:41.984Z"
        },
        {
          "file": "img/description-bg.jpg",
          "mtimeMs": 1691144153616.8862,
          "date": "2023-08-04T15:11:05.820Z"
        },
        {
          "file": "img/hero.png",
          "mtimeMs": 1691085365289.4934,
          "date": "2023-08-04T15:11:08.814Z"
        },
        {
          "file": "img/presentation.jpg",
          "mtimeMs": 1691144153620.8862,
          "date": "2023-08-04T15:11:12.179Z"
        },
        {
          "file": "img/review-bg.jpg",
          "mtimeMs": 1691159768303.9275,
          "date": "2023-08-04T15:11:15.323Z"
        },
        {
          "file": "img/squiggle.png",
          "mtimeMs": 1691144153620.8862,
          "date": "2023-08-04T15:11:17.589Z"
        },
        {
          "file": "img/welcome-bg.jpg",
          "mtimeMs": 1691085365289.4934,
          "date": "2023-08-04T15:11:20.070Z"
        },
        {
          "file": "img/catalog-head/bg-1.jpg",
          "mtimeMs": 1691085365285.4934,
          "date": "2023-08-04T15:11:22.583Z"
        },
        {
          "file": "img/catalog-head/bg-2.jpg",
          "mtimeMs": 1691085365285.4934,
          "date": "2023-08-04T15:11:25.283Z"
        },
        {
          "file": "img/catalog-head/bg-3.jpg",
          "mtimeMs": 1691085365285.4934,
          "date": "2023-08-04T15:11:28.423Z"
        },
        {
          "file": "img/catalog-head/bg-4.jpg",
          "mtimeMs": 1691085365285.4934,
          "date": "2023-08-04T15:11:30.922Z"
        },
        {
          "file": "img/catalog-head/img-1.png",
          "mtimeMs": 1691085365285.4934,
          "date": "2023-08-04T15:11:34.058Z"
        },
        {
          "file": "img/catalog-head/img-2.png",
          "mtimeMs": 1691085365289.4934,
          "date": "2023-08-04T15:11:37.184Z"
        },
        {
          "file": "img/catalog-head/img-3.png",
          "mtimeMs": 1691085365289.4934,
          "date": "2023-08-04T15:11:40.333Z"
        },
        {
          "file": "img/catalog-head/img-4.png",
          "mtimeMs": 1691085365289.4934,
          "date": "2023-08-04T15:11:43.481Z"
        },
        {
          "file": "img/flying/img-19.png",
          "mtimeMs": 1691144153616.8862,
          "date": "2023-08-04T15:11:45.976Z"
        },
        {
          "file": "img/products/img-2.jpg",
          "mtimeMs": 1691085365289.4934,
          "date": "2023-08-04T15:11:48.471Z"
        },
        {
          "file": "img/products/img-3.jpg",
          "mtimeMs": 1691085365289.4934,
          "date": "2023-08-04T15:11:52.630Z"
        },
        {
          "file": "img/products/img-5.jpg",
          "mtimeMs": 1691085365289.4934,
          "date": "2023-08-04T15:12:04.855Z"
        },
        {
          "file": "img/products/img-6.jpg",
          "mtimeMs": 1691085365289.4934,
          "date": "2023-08-04T15:12:08.041Z"
        },
        {
          "file": "img/svg_icons/arrow.svg",
          "mtimeMs": 1691159768303.9275,
          "date": "2023-08-04T15:12:11.067Z"
        },
        {
          "file": "img/users/img-1.jpg",
          "mtimeMs": 1691159768303.9275,
          "date": "2023-08-04T15:12:13.772Z"
        },
        {
          "file": "img/users/img-2.jpg",
          "mtimeMs": 1691159768303.9275,
          "date": "2023-08-04T15:12:16.494Z"
        },
        {
          "file": "img/users/img-3.jpg",
          "mtimeMs": 1691159768303.9275,
          "date": "2023-08-04T15:12:19.284Z"
        },
        {
          "file": "img/users/img-4.jpg",
          "mtimeMs": 1691159768303.9275,
          "date": "2023-08-04T15:12:21.994Z"
        },
        {
          "file": "img/users/img-5.jpg",
          "mtimeMs": 1691159768303.9275,
          "date": "2023-08-04T15:12:24.514Z"
        },
        {
          "file": "img/welcome-slider/img-7.png",
          "mtimeMs": 1691085365289.4934,
          "date": "2023-08-04T15:12:27.668Z"
        },
        {
          "file": "img/products/img-4.jpg",
          "mtimeMs": 1691085365289.4934,
          "date": "2023-08-04T17:40:02.196Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "last 2 versions"
              ],
              "preserveImports": false,
              "polyfills": true
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-static-block": false,
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-logical-assignment-operators": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "last 2 versions"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-static-block": false,
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-logical-assignment-operators": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 4,
        "linefeed": "lf",
        "removeCharset": false,
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": true,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_funcs": true,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "removeCharset": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "tailwindcss": {
        "rootDir": "",
        "content": [
          "**/*.html",
          "**/*.php",
          "**/*.js",
          "!wp-admin",
          "!wp-includes",
          "!node_modules",
          "!Prepros Export"
        ]
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": true,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "./"
            }
          ],
          "relativePath": "../"
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "tailwindcss",
            "enable": false
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": ".min",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "scss/style.scss",
        "config": {
          "customOutput": "style.css"
        }
      }
    ]
  }
}
