{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": true,
      "target": "https://turndough.deessemedia.com",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": true
    },
    "sync": {
      "enable": false,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts",
          "/wp-content/themes/twentynineteen/*",
          "/wp-content/themes/twentyseventeen/*",
          "/wp-content/themes/twentytwenty/*",
          "/wp-content/languages/*",
          "/wp-admin/*",
          "/wp-includes/*",
          "/wp-config.php"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "/turndough.deessemedia.com/wp-content/themes/turn_dough",
      "timeout": 20000,
      "autoUpload": true,
      "reuseConnection": true,
      "connectionType": "ftp",
      "exportHistory": true,
      "history": [
        {
          "file": "style.css",
          "mtimeMs": 1697645023138.8618,
          "date": "2023-10-18T16:03:45.752Z"
        },
        {
          "file": "style.css.map",
          "mtimeMs": 1697645023138.8618,
          "date": "2023-10-18T17:41:27.433Z"
        },
        {
          "file": "css/style.css",
          "mtimeMs": 1691039435190.7297,
          "date": "2023-08-03T05:19:51.734Z"
        },
        {
          "file": "css/plugins/swiper-bundle.min.css",
          "mtimeMs": 1691039435190.7297,
          "date": "2023-08-03T05:19:54.371Z"
        },
        {
          "file": "fonts/kelpo_DEMO/FontsFree-Net-KelpoDemo-MVv9J.ttf",
          "mtimeMs": 1691039435190.7297,
          "date": "2023-08-03T05:19:57.002Z"
        },
        {
          "file": "fonts/kelpo_DEMO/FontsFree-Net-KelpoDemo-MVv9J.woff",
          "mtimeMs": 1691039435190.7297,
          "date": "2023-08-03T05:19:59.442Z"
        },
        {
          "file": "fonts/kelpo_DEMO/FontsFree-Net-KelpoDemo-MVv9J.woff2",
          "mtimeMs": 1691039435190.7297,
          "date": "2023-08-03T05:20:01.891Z"
        },
        {
          "file": "fonts/roboto/roboto-v30-latin-500.ttf",
          "mtimeMs": 1691039435190.7297,
          "date": "2023-08-03T05:20:04.537Z"
        },
        {
          "file": "fonts/roboto/roboto-v30-latin-500.woff",
          "mtimeMs": 1691039435190.7297,
          "date": "2023-08-03T05:20:07.201Z"
        },
        {
          "file": "fonts/roboto/roboto-v30-latin-500.woff2",
          "mtimeMs": 1691039435190.7297,
          "date": "2023-08-03T05:20:09.833Z"
        },
        {
          "file": "fonts/roboto/roboto-v30-latin-regular.ttf",
          "mtimeMs": 1691039435190.7297,
          "date": "2023-08-03T05:20:12.467Z"
        },
        {
          "file": "fonts/roboto/roboto-v30-latin-regular.woff",
          "mtimeMs": 1691039435190.7297,
          "date": "2023-08-03T05:20:15.120Z"
        },
        {
          "file": "fonts/roboto/roboto-v30-latin-regular.woff2",
          "mtimeMs": 1691039435190.7297,
          "date": "2023-08-03T05:20:17.754Z"
        },
        {
          "file": "img/arrow-slider.svg",
          "mtimeMs": 1691039435190.7297,
          "date": "2023-08-03T05:20:19.981Z"
        },
        {
          "file": "img/arrow.svg",
          "mtimeMs": 1691572577438.4214,
          "date": "2023-08-09T09:29:02.749Z"
        },
        {
          "file": "img/benefit.jpg",
          "mtimeMs": 1691572577438.4214,
          "date": "2023-08-09T09:29:05.331Z"
        },
        {
          "file": "img/instagram.jpg",
          "mtimeMs": 1691572577446.4216,
          "date": "2023-08-09T09:29:12.648Z"
        },
        {
          "file": "img/logo.svg",
          "mtimeMs": 1691039435194.7297,
          "date": "2023-08-03T05:20:30.097Z"
        },
        {
          "file": "img/more-offer.png",
          "mtimeMs": 1691572577446.4216,
          "date": "2023-08-09T09:29:18.270Z"
        },
        {
          "file": "img/sprite.svg",
          "mtimeMs": 1697726073601.6946,
          "date": "2023-10-19T14:34:36.112Z"
        },
        {
          "file": "img/welcome-slider-bg.jpg",
          "mtimeMs": 1691430981628.8137,
          "date": "2023-08-09T09:29:27.419Z"
        },
        {
          "file": "img/benefit/img-1.png",
          "mtimeMs": 1691572577438.4214,
          "date": "2023-08-09T09:26:55.225Z"
        },
        {
          "file": "img/benefit/img-2.png",
          "mtimeMs": 1691572577438.4214,
          "date": "2023-08-09T09:26:52.834Z"
        },
        {
          "file": "img/besides/img-1.png",
          "mtimeMs": 1691572577438.4214,
          "date": "2023-08-09T09:27:05.515Z"
        },
        {
          "file": "img/besides/img-2.png",
          "mtimeMs": 1691572577438.4214,
          "date": "2023-08-09T09:26:57.776Z"
        },
        {
          "file": "img/besides/img-3.png",
          "mtimeMs": 1691572577438.4214,
          "date": "2023-08-09T09:27:02.943Z"
        },
        {
          "file": "img/besides/img-4.png",
          "mtimeMs": 1691572577442.4216,
          "date": "2023-08-09T09:27:08.100Z"
        },
        {
          "file": "img/besides/img-5.png",
          "mtimeMs": 1691572577442.4216,
          "date": "2023-08-09T09:27:00.370Z"
        },
        {
          "file": "img/flying/img-1.png",
          "mtimeMs": 1691572577442.4216,
          "date": "2023-08-09T09:27:54.371Z"
        },
        {
          "file": "img/flying/img-1.svg",
          "mtimeMs": 1691039435194.7297,
          "date": "2023-08-03T05:20:59.734Z"
        },
        {
          "file": "img/flying/img-10.png",
          "mtimeMs": 1691572577442.4216,
          "date": "2023-08-09T09:27:39.720Z"
        },
        {
          "file": "img/flying/img-10.svg",
          "mtimeMs": 1691039435194.7297,
          "date": "2023-08-03T05:21:04.606Z"
        },
        {
          "file": "img/flying/img-2.png",
          "mtimeMs": 1691572577442.4216,
          "date": "2023-08-09T09:27:27.671Z"
        },
        {
          "file": "img/flying/img-2.svg",
          "mtimeMs": 1691039435194.7297,
          "date": "2023-08-03T05:21:09.472Z"
        },
        {
          "file": "img/flying/img-3.png",
          "mtimeMs": 1691572577446.4216,
          "date": "2023-08-09T09:27:37.349Z"
        },
        {
          "file": "img/flying/img-3.svg",
          "mtimeMs": 1691039435194.7297,
          "date": "2023-08-04T15:10:14.581Z"
        },
        {
          "file": "img/flying/img-4.png",
          "mtimeMs": 1691572577446.4216,
          "date": "2023-08-09T09:27:59.122Z"
        },
        {
          "file": "img/flying/img-4.svg",
          "mtimeMs": 1691039435194.7297,
          "date": "2023-08-03T05:21:19.225Z"
        },
        {
          "file": "img/flying/img-5.png",
          "mtimeMs": 1691572577446.4216,
          "date": "2023-08-09T09:27:34.985Z"
        },
        {
          "file": "img/flying/img-5.svg",
          "mtimeMs": 1691039435194.7297,
          "date": "2023-08-03T05:21:24.098Z"
        },
        {
          "file": "img/flying/img-6.png",
          "mtimeMs": 1691572577446.4216,
          "date": "2023-08-09T09:27:52.000Z"
        },
        {
          "file": "img/flying/img-6.svg",
          "mtimeMs": 1691039435194.7297,
          "date": "2023-08-03T05:21:28.961Z"
        },
        {
          "file": "img/flying/img-7.png",
          "mtimeMs": 1691572577446.4216,
          "date": "2023-08-09T09:28:06.426Z"
        },
        {
          "file": "img/flying/img-7.svg",
          "mtimeMs": 1691039435194.7297,
          "date": "2023-08-03T05:21:34.019Z"
        },
        {
          "file": "img/flying/img-8.png",
          "mtimeMs": 1691572577446.4216,
          "date": "2023-08-09T09:28:13.956Z"
        },
        {
          "file": "img/flying/img-8.svg",
          "mtimeMs": 1691039435194.7297,
          "date": "2023-08-03T05:21:38.930Z"
        },
        {
          "file": "img/flying/img-9.png",
          "mtimeMs": 1691572577446.4216,
          "date": "2023-08-09T09:27:44.669Z"
        },
        {
          "file": "img/flying/img-9.svg",
          "mtimeMs": 1691039435194.7297,
          "date": "2023-08-03T05:21:44.050Z"
        },
        {
          "file": "img/products/img-1.jpg",
          "mtimeMs": 1691572577450.4216,
          "date": "2023-08-09T09:28:26.694Z"
        },
        {
          "file": "img/svg_icons/facebook.svg",
          "mtimeMs": 1691039435194.7297,
          "date": "2023-08-03T05:21:49.170Z"
        },
        {
          "file": "img/svg_icons/instagram.svg",
          "mtimeMs": 1691039435194.7297,
          "date": "2023-08-03T05:21:51.592Z"
        },
        {
          "file": "img/svg_icons/point.svg",
          "mtimeMs": 1691039435194.7297,
          "date": "2023-08-03T05:21:54.017Z"
        },
        {
          "file": "img/svg_icons/twitter.svg",
          "mtimeMs": 1691039435194.7297,
          "date": "2023-08-03T05:21:56.461Z"
        },
        {
          "file": "img/welcome-slider/img-1.png",
          "mtimeMs": 1691572577450.4216,
          "date": "2023-08-09T09:28:54.170Z"
        },
        {
          "file": "img/welcome-slider/img-2.png",
          "mtimeMs": 1691572577454.4216,
          "date": "2023-08-09T09:28:41.854Z"
        },
        {
          "file": "img/welcome-slider/img-3.png",
          "mtimeMs": 1691572577454.4216,
          "date": "2023-08-09T09:28:47.903Z"
        },
        {
          "file": "img/welcome-slider/img-4.png",
          "mtimeMs": 1691572577454.4216,
          "date": "2023-08-09T09:28:57.370Z"
        },
        {
          "file": "img/welcome-slider/img-5.png",
          "mtimeMs": 1691572577454.4216,
          "date": "2023-08-09T09:28:44.673Z"
        },
        {
          "file": "img/welcome-slider/img-6.png",
          "mtimeMs": 1691572577458.4219,
          "date": "2023-08-09T09:28:50.931Z"
        },
        {
          "file": "js/jquery.min.js",
          "mtimeMs": 1691039435194.7297,
          "date": "2023-08-03T05:22:17.152Z"
        },
        {
          "file": "js/scripts.js",
          "mtimeMs": 1697715985473.7195,
          "date": "2023-10-19T11:46:28.036Z"
        },
        {
          "file": "js/plugins/swiper-bundle.min.js",
          "mtimeMs": 1691039435198.73,
          "date": "2023-08-03T05:22:22.712Z"
        },
        {
          "file": "index.php",
          "mtimeMs": 1691041114644.2725,
          "date": "2023-08-03T05:38:37.150Z"
        },
        {
          "file": "functions.php",
          "mtimeMs": 1697517722321.1343,
          "date": "2023-10-17T04:42:04.597Z"
        },
        {
          "file": "header.php",
          "mtimeMs": 1692901159530.2256,
          "date": "2023-08-24T18:19:21.839Z"
        },
        {
          "file": "footer.php",
          "mtimeMs": 1693499826159.7651,
          "date": "2023-08-31T16:37:08.467Z"
        },
        {
          "file": "page.php",
          "mtimeMs": 1691041271813.8384,
          "date": "2023-08-03T05:41:14.315Z"
        },
        {
          "file": "template-parts/content-home.php",
          "mtimeMs": 1694356317517.4053,
          "date": "2023-09-10T14:32:00.692Z"
        },
        {
          "file": "scf/home.php",
          "mtimeMs": 1692719620556.0894,
          "date": "2023-08-22T15:53:43.082Z"
        },
        {
          "file": "scf/contacts.php",
          "mtimeMs": 1692719153923.7893,
          "date": "2023-08-22T15:45:56.429Z"
        },
        {
          "file": "scf/products.php",
          "mtimeMs": 1697719690861.4727,
          "date": "2023-10-19T12:48:13.374Z"
        },
        {
          "file": "scf/reviews.php",
          "mtimeMs": 1691056579890.4404,
          "date": "2023-08-03T09:56:22.567Z"
        },
        {
          "file": "scf/product-category.php",
          "mtimeMs": 1691058215828.1829,
          "date": "2023-08-03T10:23:38.561Z"
        },
        {
          "file": "css/admin.css",
          "mtimeMs": 1691058306298.5288,
          "date": "2023-08-03T10:25:08.984Z"
        },
        {
          "file": "archive-products.php",
          "mtimeMs": 1693416843377.488,
          "date": "2023-08-30T17:34:05.783Z"
        },
        {
          "file": "css/admin.css.map",
          "mtimeMs": 1691058306298.5288,
          "date": "2023-08-04T08:32:29.420Z"
        },
        {
          "file": "css/bootstrap/bootstrap.css",
          "mtimeMs": 1691160204159.632,
          "date": "2023-08-04T14:43:32.727Z"
        },
        {
          "file": "css/bootstrap/bootstrap.css.map",
          "mtimeMs": 1691160204159.632,
          "date": "2023-08-04T15:09:44.908Z"
        },
        {
          "file": "img/flying/img-11.png",
          "mtimeMs": 1691572577442.4216,
          "date": "2023-08-09T09:27:32.405Z"
        },
        {
          "file": "img/flying/img-12.png",
          "mtimeMs": 1691572577442.4216,
          "date": "2023-08-09T09:28:04.054Z"
        },
        {
          "file": "img/flying/img-13.png",
          "mtimeMs": 1691572577442.4216,
          "date": "2023-08-09T09:27:56.748Z"
        },
        {
          "file": "img/flying/img-14.png",
          "mtimeMs": 1691572577442.4216,
          "date": "2023-08-09T09:27:30.038Z"
        },
        {
          "file": "img/flying/img-15.png",
          "mtimeMs": 1691572577442.4216,
          "date": "2023-08-09T09:28:01.692Z"
        },
        {
          "file": "img/flying/img-16.png",
          "mtimeMs": 1691572577442.4216,
          "date": "2023-08-09T09:27:42.081Z"
        },
        {
          "file": "img/flying/img-17.png",
          "mtimeMs": 1691572577442.4216,
          "date": "2023-08-09T09:27:49.640Z"
        },
        {
          "file": "img/flying/img-18.png",
          "mtimeMs": 1691572577442.4216,
          "date": "2023-08-09T09:27:47.235Z"
        },
        {
          "file": "scf/story.php",
          "mtimeMs": 1691163498476.0388,
          "date": "2023-08-04T15:38:21.222Z"
        },
        {
          "file": "page-our-story.php",
          "mtimeMs": 1693499871076.1946,
          "date": "2023-08-31T16:37:54.049Z"
        },
        {
          "file": "svg.svg",
          "mtimeMs": 1691154548559.0747,
          "date": "2023-08-04T13:09:12.433Z"
        },
        {
          "file": "archive-reviews.php",
          "mtimeMs": 1691161853540.2302,
          "date": "2023-08-04T15:10:56.052Z"
        },
        {
          "file": "css/bootstrap/bootstrap-grid.css",
          "mtimeMs": 1691160204055.6301,
          "date": "2023-08-04T15:09:28.705Z"
        },
        {
          "file": "css/bootstrap/bootstrap-grid.css.map",
          "mtimeMs": 1691160204159.632,
          "date": "2023-08-04T15:09:31.410Z"
        },
        {
          "file": "css/bootstrap/bootstrap-reboot.css",
          "mtimeMs": 1691160203995.6292,
          "date": "2023-08-04T15:09:33.880Z"
        },
        {
          "file": "css/bootstrap/bootstrap-reboot.css.map",
          "mtimeMs": 1691160204059.6304,
          "date": "2023-08-04T15:09:36.369Z"
        },
        {
          "file": "css/bootstrap/bootstrap-utilities.css",
          "mtimeMs": 1691160204159.632,
          "date": "2023-08-04T15:09:39.284Z"
        },
        {
          "file": "css/bootstrap/bootstrap-utilities.css.map",
          "mtimeMs": 1691160204159.632,
          "date": "2023-08-04T15:09:41.984Z"
        },
        {
          "file": "img/description-bg.jpg",
          "mtimeMs": 1691430981624.8137,
          "date": "2023-08-09T09:29:07.511Z"
        },
        {
          "file": "img/hero.png",
          "mtimeMs": 1691162724895.2373,
          "date": "2023-08-09T09:29:10.290Z"
        },
        {
          "file": "img/presentation.jpg",
          "mtimeMs": 1691572577450.4216,
          "date": "2023-08-09T09:29:20.862Z"
        },
        {
          "file": "img/review-bg.jpg",
          "mtimeMs": 1691430981628.8137,
          "date": "2023-08-09T09:29:23.028Z"
        },
        {
          "file": "img/squiggle.png",
          "mtimeMs": 1691162724899.2373,
          "date": "2023-08-09T09:29:25.216Z"
        },
        {
          "file": "img/welcome-bg.jpg",
          "mtimeMs": 1691572577450.4216,
          "date": "2023-08-09T09:29:29.781Z"
        },
        {
          "file": "img/catalog-head/bg-1.jpg",
          "mtimeMs": 1691430981624.8137,
          "date": "2023-08-09T09:27:22.908Z"
        },
        {
          "file": "img/catalog-head/bg-2.jpg",
          "mtimeMs": 1691572577442.4216,
          "date": "2023-08-09T09:27:25.291Z"
        },
        {
          "file": "img/catalog-head/bg-3.jpg",
          "mtimeMs": 1691085365285.4934,
          "date": "2023-08-04T15:11:28.423Z"
        },
        {
          "file": "img/catalog-head/bg-4.jpg",
          "mtimeMs": 1691085365285.4934,
          "date": "2023-08-04T15:11:30.922Z"
        },
        {
          "file": "img/catalog-head/img-1.png",
          "mtimeMs": 1691162724895.2373,
          "date": "2023-08-09T09:27:17.121Z"
        },
        {
          "file": "img/catalog-head/img-2.png",
          "mtimeMs": 1691162724895.2373,
          "date": "2023-08-09T09:27:11.113Z"
        },
        {
          "file": "img/catalog-head/img-3.png",
          "mtimeMs": 1691162724895.2373,
          "date": "2023-08-09T09:27:14.111Z"
        },
        {
          "file": "img/catalog-head/img-4.png",
          "mtimeMs": 1691162724895.2373,
          "date": "2023-08-09T09:27:20.121Z"
        },
        {
          "file": "img/flying/img-19.png",
          "mtimeMs": 1691572577442.4216,
          "date": "2023-08-09T09:28:09.228Z"
        },
        {
          "file": "img/products/img-2.jpg",
          "mtimeMs": 1691572577450.4216,
          "date": "2023-08-09T09:28:18.896Z"
        },
        {
          "file": "img/products/img-3.jpg",
          "mtimeMs": 1691572577450.4216,
          "date": "2023-08-09T09:28:11.602Z"
        },
        {
          "file": "img/products/img-5.jpg",
          "mtimeMs": 1691572577450.4216,
          "date": "2023-08-09T09:28:16.534Z"
        },
        {
          "file": "img/products/img-6.jpg",
          "mtimeMs": 1691162724899.2373,
          "date": "2023-08-09T09:28:21.711Z"
        },
        {
          "file": "img/svg_icons/arrow.svg",
          "mtimeMs": 1691159768303.9275,
          "date": "2023-08-04T15:12:11.067Z"
        },
        {
          "file": "img/users/img-1.jpg",
          "mtimeMs": 1691572577450.4216,
          "date": "2023-08-09T09:28:36.228Z"
        },
        {
          "file": "img/users/img-2.jpg",
          "mtimeMs": 1691572577450.4216,
          "date": "2023-08-09T09:28:33.815Z"
        },
        {
          "file": "img/users/img-3.jpg",
          "mtimeMs": 1691572577450.4216,
          "date": "2023-08-09T09:28:29.074Z"
        },
        {
          "file": "img/users/img-4.jpg",
          "mtimeMs": 1691572577450.4216,
          "date": "2023-08-09T09:28:38.611Z"
        },
        {
          "file": "img/users/img-5.jpg",
          "mtimeMs": 1691572577450.4216,
          "date": "2023-08-09T09:28:31.437Z"
        },
        {
          "file": "img/welcome-slider/img-7.png",
          "mtimeMs": 1691162724899.2373,
          "date": "2023-08-09T09:29:00.388Z"
        },
        {
          "file": "img/products/img-4.jpg",
          "mtimeMs": 1691572577450.4216,
          "date": "2023-08-09T09:28:24.085Z"
        },
        {
          "file": "img/mark-map.png",
          "mtimeMs": 1693506069689.8037,
          "date": "2023-08-31T18:22:00.457Z"
        },
        {
          "file": "js/plugins/relax.min.js",
          "mtimeMs": 1691572878114.388,
          "date": "2023-08-09T09:21:20.978Z"
        },
        {
          "file": "img/arrow-welcom.svg",
          "mtimeMs": 1692354395586.4607,
          "date": "2023-08-18T10:26:38.491Z"
        },
        {
          "file": "img/flying/img-20.png",
          "mtimeMs": 1691572577442.4216,
          "date": "2023-08-14T11:14:57.042Z"
        },
        {
          "file": "img/flying/img-21.png",
          "mtimeMs": 1691572577442.4216,
          "date": "2023-08-14T11:14:59.499Z"
        },
        {
          "file": "img/flying/img-22.png",
          "mtimeMs": 1691572577442.4216,
          "date": "2023-08-14T11:15:01.976Z"
        },
        {
          "file": "fonts/kelpo_DEMO/Kelpo.svg",
          "mtimeMs": 1692701810000,
          "date": "2023-08-22T12:59:14.452Z"
        },
        {
          "file": "fonts/kelpo_DEMO/Kelpo.ttf",
          "mtimeMs": 1692701808000,
          "date": "2023-08-22T12:59:21.614Z"
        },
        {
          "file": "fonts/kelpo_DEMO/Kelpo.woff",
          "mtimeMs": 1692701808000,
          "date": "2023-08-22T12:59:29.623Z"
        },
        {
          "file": "fonts/kelpo_DEMO/Kelpo.woff2",
          "mtimeMs": 1692701810000,
          "date": "2023-08-22T12:59:34.831Z"
        },
        {
          "file": "img/arrow-small.svg",
          "mtimeMs": 1692709611684.4246,
          "date": "2023-08-22T13:06:58.541Z"
        },
        {
          "file": "scf/menu.php",
          "mtimeMs": 1692718026402.6477,
          "date": "2023-08-22T15:27:08.921Z"
        },
        {
          "file": "fonts/kelpo_DEMO/Kelpo.eot",
          "mtimeMs": 1692701808000,
          "date": "2023-08-22T16:12:54.949Z"
        },
        {
          "file": "img/reviews-btn.png",
          "mtimeMs": 1692720753269.7239,
          "date": "2023-08-22T16:12:57.418Z"
        },
        {
          "file": "template-parts/content-products.php",
          "mtimeMs": 1697782328764.803,
          "date": "2023-10-20T06:12:11.260Z"
        },
        {
          "file": "css/product.css",
          "mtimeMs": 1697783247229.4543,
          "date": "2023-10-20T06:27:29.993Z"
        },
        {
          "file": "css/product.css.map",
          "mtimeMs": 1697779491104.0154,
          "date": "2023-10-20T05:26:04.104Z"
        },
        {
          "file": "img/mark-map-copy.png",
          "mtimeMs": 1691572577446.4216,
          "date": "2023-10-17T06:01:01.364Z"
        },
        {
          "file": "img/product-review.png",
          "mtimeMs": 1697522418377.3774,
          "date": "2023-10-17T06:01:05.560Z"
        },
        {
          "file": "img/product-contact.png",
          "mtimeMs": 1697606760515.7722,
          "date": "2023-10-18T05:30:34.619Z"
        },
        {
          "file": "img/cream.svg",
          "mtimeMs": 1697650860671.8198,
          "date": "2023-10-18T17:41:31.956Z"
        },
        {
          "file": "img/build-bg.png",
          "mtimeMs": 1697715037207.1047,
          "date": "2023-10-19T12:34:25.846Z"
        },
        {
          "file": "img/flying/f1.png",
          "mtimeMs": 1697778943728.8926,
          "date": "2023-10-20T05:26:06.591Z"
        },
        {
          "file": "img/flying/f10.png",
          "mtimeMs": 1697779147059.7705,
          "date": "2023-10-20T05:26:09.296Z"
        },
        {
          "file": "img/flying/f11.png",
          "mtimeMs": 1697779164872.018,
          "date": "2023-10-20T05:26:11.777Z"
        },
        {
          "file": "img/flying/f2.png",
          "mtimeMs": 1697778964521.0728,
          "date": "2023-10-20T05:26:14.264Z"
        },
        {
          "file": "img/flying/f3.png",
          "mtimeMs": 1697778976521.1892,
          "date": "2023-10-20T05:26:16.760Z"
        },
        {
          "file": "img/flying/f4.png",
          "mtimeMs": 1697778995229.4934,
          "date": "2023-10-20T05:26:19.218Z"
        },
        {
          "file": "img/flying/f5.png",
          "mtimeMs": 1697779015541.8171,
          "date": "2023-10-20T05:26:22.160Z"
        },
        {
          "file": "img/flying/f6.png",
          "mtimeMs": 1697779061854.5322,
          "date": "2023-10-20T05:26:24.610Z"
        },
        {
          "file": "img/flying/f7.png",
          "mtimeMs": 1697779077442.7659,
          "date": "2023-10-20T05:26:27.089Z"
        },
        {
          "file": "img/flying/f8.png",
          "mtimeMs": 1697779099211.0867,
          "date": "2023-10-20T05:26:30.246Z"
        },
        {
          "file": "img/flying/f9.png",
          "mtimeMs": 1697779129755.5266,
          "date": "2023-10-20T05:26:32.776Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "last 2 versions"
              ],
              "preserveImports": false,
              "polyfills": true
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-static-block": false,
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-logical-assignment-operators": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "last 2 versions"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-static-block": false,
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-logical-assignment-operators": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 4,
        "linefeed": "lf",
        "removeCharset": false,
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": true,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_funcs": true,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "removeCharset": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "tailwindcss": {
        "rootDir": "",
        "content": [
          "**/*.html",
          "**/*.php",
          "**/*.js",
          "!wp-admin",
          "!wp-includes",
          "!node_modules",
          "!Prepros Export"
        ]
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": true,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "./"
            }
          ],
          "relativePath": "../"
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "tailwindcss",
            "enable": false
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": ".min",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "babel",
            "enable": true
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "scss/style.scss",
        "config": {
          "customOutput": "style.css"
        }
      }
    ]
  }
}
