/* contact */
.contact { 
  padding: 7.6em 0 6.3em;
  background-color: #91D7E1;
  position: relative;
  &__map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    #map {
      height: 100%;
      min-height: 20em;
    }
  }
  &__content {
    width: 30em;
    margin-left: auto;
  }
  .subtitle {
    margin-bottom: 0.25em;
  }
  &__sub {
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 1.25em;
  }
  &__buttons {
    display: flex;
    margin-left: -1.6875em;
    margin-bottom: 1.1em;
  }
  &__btn {
    display: inline-flex;
    width: 100%;
    max-width: 13em;
    margin-left: 1.6875em;
    align-items: center;
    height: 3.6em;
    padding-left: 4.5em;
    padding-right: 1.5em;
    background-color: $primary_color;
    border: 0.1875em solid $primary_color;
    border-radius: 3em;
    text-transform: uppercase;
    outline: none;
    position: relative;
    color: #fff;
    transition: .3s;
    span {
      font-family: "Kelpo";
      font-size: 1.625em;
      line-height: 100%;
    }
    @media (min-width: $break_sm + 1) {
      &:hover {
        .contact__btn-icon {
          fill: $secondary_color;
        }
      }
    }
    &.active {
      background-color: #FFF5FA;
      color: $primary_color;
    }
  }
  &__btn-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.6em;
    height: 3.6em;
    background-color: #FFF5FA;
    border: 0.1875em solid $primary_color;
    border-radius: 100%;
    position: absolute;
    top: -0.1875em;
    left: -0.1875em;
    fill: $primary_color;
    transition: 0.3s;
    svg {
      width: 1.875em;
      height: 1.875em;
    }
  }
  &__text {
    margin-bottom: 0.6em;
    h1,h2,h3,h4,h5,h6 {
      font-family: "Kelpo";
      font-size: 1.625em;
      line-height: 140%;
      color: $primary_color;
      margin-bottom: 0.15em;
    }
    p {
      font-weight: 500;
      line-height: 150%;
    }
  }
  &__fly {
    position: absolute;
    top: -5em;
    right: 3em;
    img {
      width: 10em;
    }
  }
  @media (max-width: $break_sm) {
    padding: 5em 0 4em;
    &__map {
      position: static;
      width: 100%;
    }
    &__content {
      width: 100%;
      margin-bottom: 3em;
    }
    &__buttons {
      flex-wrap: wrap;
    }
    &__btn {
      max-width: none;
      margin-bottom: 1em;
    }
    &__fly {
      top: -3em;
      img {
        width: 6em;
      }
    }
  }
}
/* /contact */