/* review */
.review { 
  padding: 12.5em 0 7.5em;
  position: relative;
  &__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__title {
    width: 8em;
    margin-left: auto;
    margin-right: auto;
    font-family: "Kelpo";
    font-size: 4.875em;
    line-height: 86%;
    letter-spacing: -0.01em;
    color: $primary_color;
    text-align: center;
    text-shadow: -0.01em -0.1em #fff;
    position: relative;
    z-index: 1;
    margin-bottom: 0.55em;
  }
  &__slider {
    width: 58.5em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
    user-select: none;
    margin-bottom: 3.5em;
    #slideReview {
      overflow: hidden;
    }
  }
  &__block {
    padding: 5em 6.6em 3.5em;
    border: 0.2em solid #99DDE3;
    border-radius: 2.5em;
    background: #FFFDFE;
    text-align: center;
    position: relative;
    p {
      font-size: 1.125em;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
      margin-bottom: 1.7em;
    }
    &:after {
      content: '';
      display: block;
      width: 3.0625em;
      height: 1.9em;
      background-image: url("data:image/svg+xml,%3Csvg width='49' height='31' viewBox='0 0 49 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_10_18)'%3E%3Cpath d='M22.9339 27.693L-1.54388 -8.23643C-2.67451 -9.89602 -1.48592 -12.144 0.522209 -12.144H49.4778C51.4859 -12.144 52.6745 -9.89603 51.5439 -8.23643L27.0661 27.693C26.0738 29.1496 23.9262 29.1496 22.9339 27.693Z' fill='%23FFFDFE' stroke='%2399DDE3' stroke-width='3'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_10_18'%3E%3Crect width='49' height='31' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%,0);
      z-index: 1;
    }
  }
  &__triangle {
    
  }
  &__raiting {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__star {
    width: 1.5em;
    height: 1.5em;
    margin: 0 0.1875em;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.8995 2.59994L15.1995 7.59994C15.2995 7.89994 15.5995 8.09994 15.8995 8.19994L21.0995 8.99994C21.9995 8.99994 22.2995 9.99994 21.6995 10.5999L17.8995 14.4999C17.6995 14.6999 17.5995 15.0999 17.5995 15.3999L18.4995 20.7999C18.5995 21.5999 17.7995 22.2999 17.0995 21.8999L12.3995 19.2999C12.0995 19.0999 11.7995 19.0999 11.4995 19.2999L6.79952 21.8999C6.09952 22.2999 5.19952 21.6999 5.39952 20.7999L6.29952 15.3999C6.39952 15.0999 6.19952 14.6999 5.99952 14.4999L2.19952 10.5999C1.69952 9.99994 1.99952 8.99994 2.79952 8.89994L7.99952 8.09994C8.29952 8.09994 8.59952 7.79994 8.69952 7.49994L10.9995 2.49994C11.4995 1.79994 12.4995 1.79994 12.8995 2.59994Z' fill='%23FEC227'/%3E%3C/svg%3E%0A");
    background-size: contain;
    background-repeat: no-repeat;
  }
  &__button {
    width: 4.5em;
    height: 4.5em;
    margin-top: 0;
    background-color: #FFFDFE;
    border: 0.2em solid #99DDE3;
    border-radius: 100%;
    fill: #99DDE3;
    transform: translate(0,-50%);
    transition: .3s;
    &:after {
      display: none;
    }
    svg {
      width: 2.1875em;
      height: 1.875em;
    }
    &--prev {
      left: -2.5em;
      svg {
        transform: rotate(180deg);
      }
    }
    &--next {
      right: -2.5em;
    }
    @media (min-width: $break_sm + 1) {
      &:hover {
        fill: #fff;
        background-color: #99DDE3;
      }
    }
  }
  &__thumb {
    width: 33em;
    padding: 1em 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
    overflow: hidden;
    user-select: none;
    .swiper-slide-thumb-active {
      .review__photo {
        transform: scale(1.3);
      }
      .review__name {
        opacity: 1;
      }
    }
  }
  &__photo {
    width: 5.4375em;
    height: 5.4375em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    overflow: hidden;
    margin-bottom: 1.8em;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__name {
    font-family: "Kelpo";
    font-size: 2em;
    letter-spacing: -0.02em;
    color: $primary_color;
    opacity: 0;
    text-align: center;
  }
  @media (max-width: $break_sm) {
    padding: 10em 0 5em;
    &__title {
      width: 100%;
      font-size: 2.8em;
    }
    &__slider {
      width: 100%;
    }
    &__thumb {
      width: 100%;
    }
    &__button {
      display: none; 
    }
    &__block {
      padding: 2em 1.6em 2.5em;
    }
  }
}
/* /review */