/* subtitle */
.subtitle { 
  font-family: "Kelpo";
  font-size: 4em;
  line-height: 86%;
  letter-spacing: -0.03em;
  &--blue {
    color: $secondary_color;
    text-shadow: -0.1em 0.1em #5C2D95;
  }
  &--pink {
    color: $primary_color;
    text-shadow: -0.1em 0.1em #fff;
  }
  &--white {
    color: #FFF1F7;
    text-shadow: -0.1em 0.1em #EC0187;
  }
  @media (max-width: $break_sm) {
    font-size: 2.7em;
  }
}
/* /subtitle */