/* subtitle */
.subtitle {
    font-family: 'Kelpo';
    font-size: 4em;
    line-height: 86%;
    letter-spacing: -0.03em;
    &--blue {
        color: #c7f3f6;
        text-shadow: -0.1em 0.1em #5c2d95;
    }
    &--pink {
        color: $primary_color;
        text-shadow: -0.1em 0.1em #fff;
    }
    &--white {
        color: #fff1f7;
        text-shadow: -0.1em 0.1em #ec0187;
    }
    @media (max-width: $break_sm) {
        font-size: 2.7em;
    }
}
/* /subtitle */
