/* template */
.swiper { 
  padding: 100px 0;
  &__slider {
    overflow: hidden;
    position: relative;
  }
}

.airDatepicker {
  padding: 100px 0;
}

.magnigicPopup {
  padding: 100px 0;
}

.more-list {
  padding: 100px 0;
}

.accordion {
  padding: 100px 0;
}

/* /template */